<div class="ads">
  <div class="card radius-10">
    <div class="tbaru">
      <div onclick="window.open('https://maomaovpn.com/index.php#/register?code=gFL8yGu1')">
        <img src="https://npm.elemecdn.com/q78kg-pictures/ads/猫猫云.png" alt="maomaoyun" />
      </div>
    </div>
    <a class="tbaru">广告位招租，15/月 有意者联系q78kg.1ffrj6@outlook.com （最后一个横幅位）</a>
  </div>
</div>
