<div class="ads">
  <div class="card radius-10">
    <div class="tbaru">
      <div onclick="window.open('https://5maomao.xyz/index.php#/register?code=gFL8yGu1')">
        <img src="https://npm.elemecdn.com/amemei-pictures/ads/猫猫云.png" alt="maomaoyun" />
      </div>
    </div>
    <div class="tbaru">
      <div onclick="window.open('https://shop119340084.taobao.com/shop/view_shop.htm?spm=a230r.1.14.4.75dc14ecGDLY4r&user_number_id=1965847533&mm_sycmid=1_140464_290ace768641419ed13b13fbad8451d4')">
        <img src="https://npm.elemecdn.com/amemei-pictures/ads/tamatoys.png" alt="tamatoys" />
      </div>
    </div>
    <a class="tbaru">广告位招租，15/月 有意者联系Anjiurine@outlook.com</a>
  </div>
</div>
