<div class="announcement">
    <div class="card radius-10">
        <div data-step="4" data-title="站点公告" data-intro="您可以在这里查看网站的最新公告" class="card-body">
            <div class="d-flex align-items-center">
                <div>
                    <h5 class="mb-0"><strong>站点公告</strong></h5>
                    <hr>
                </div>
            </div>
            <div class="fix-text fix-image">
                <h6>相信最近有些小伙伴已经发现了，有一些游戏的链接被劫持到了反诈骗界面。（悲</h6>
                <h6>目前解决方法为更换dns到1.1.1.1，或者挂梯子</h6>
                <br>
                <h6>有些问题去看看“说点什么”板块可能会得到解答</h6>
            </div>
        </div>
    </div>
</div>