<div class="announcement">
    <div class="card text-bg-light mb-3 radius-10">
        <div data-step="4" data-title="站点公告" data-intro="您可以在这里查看网站的最新公告" class="card-body">
            <div class="d-flex align-items-center">
                <div>
                    <h5 class="mb-0"><strong>站点公告</strong></h5>
                    <hr>
                </div>
            </div>
            <div class="fix-text fix-image">
                <h6>本网站是由Amemei为全球华人创建的二次元游戏交流网站，浏览时请遵守当地法律法规，祝您浏览愉快！</h6>
                <br>
                <h6>有些问题去看看“说点什么”板块可能会得到解答</h6>
                <br>
                <h6>为了维持小站的运营，某加了点广告，如果您认为这糊住了您的眼睛可以打开广告拦截插件</h6>
            </div>
        </div>
    </div>
</div>
