<main id="main">
  <% if (theme.preview.enable) { %>
    <%- partial('_partial/index/preview') %>
  <% } %>
  <div class="container" id="container">
    <div class="moe-counter">
      <img src="https://moe-counter.suswhw.top/get/@amemei?theme=rule34" alt="amemei" />
    </div>
    <div class="tbaru">
      <div onclick="window.open('https://maomaovpn.com/index.php#/register?code=gFL8yGu1')">
        <img src="https://npm.elemecdn.com/q78kg-pictures/ads/猫猫云.png" alt="maomaoyun" />
      </div>
    </div>
    <a class="tbaru">广告位招租，15/月 有意者联系q78kg.1ffrj6@outlook.com （最后一个横幅位）</a>
    <%- partial('_partial/index/post') %>
    <%- partial('_partial/components/paginator') %>
  </div>
</main>
