<main id="main">
  <% if (theme.preview.enable) { %>
    <%- partial('_partial/index/preview') %>
  <% } %>
  <div class="container" id="container">
    <a class="tbaru">广告位招租，15/月 有意者联系q78kg.1ffrj6@outlook.com</a>
    <%- partial('_partial/index/post') %>
    <%- partial('_partial/components/paginator') %>
  </div>
</main>