<div class="ads bg-body">
    <div class="card text-bg-body mb-3 content-container layout-block article-list">
        <div class="tbaru">
            <div onclick="window.open('https://maomao789.com/index.php#/register?code=1T7Izn2G')">
                <img src="https://registry.npmmirror.com/amemei-github-io-npm-cdn/latest/files/ads/猫猫云.png" alt="maomaoyun" />
            </div>
        </div>
        <div class="tbaru">
            <div
                onclick="window.open('https://shop119340084.taobao.com/shop/view_shop.htm?spm=a230r.1.14.4.75dc14ecGDLY4r&user_number_id=1965847533&mm_sycmid=1_140464_290ace768641419ed13b13fbad8451d4')">
                <img src="https://registry.npmmirror.com/amemei-github-io-npm-cdn/latest/files/ads/tamatoys.png" alt="tamatoys" />
            </div>
        </div>
        <div class="tbaru">
            <div onclick="window.open('https://www.rainyun.com/MTMwMjQy_')">
                <img src="https://registry.npmmirror.com/amemei-github-io-npm-cdn/latest/files/ads/云雨.png" alt="tamatoys" />
            </div>
        </div>
    </div>
</div>