<div class="ads bg-body">
    <div class="card text-bg-body mb-3 content-container layout-block article-list">
        <div class="tbaru">
            <div onclick="window.open('https://maomao789.com/index.php#/register?code=1T7Izn2G')">
                <img src="https://registry.npmmirror.com/amemei-github-io-npm-cdn/latest/files/ads/猫猫云.png" alt="maomaoyun" />
            </div>
        </div>
        <div class="tbaru">
            <div
                onclick="window.open('https://shop.m.taobao.com/shop/shop_index.htm?sellerId=1965847533&shopId=119340084&inShopPageId=413203121&pathInfo=shop/index2&mm_sycmid=1_150329_d7867f706a6124fbc5c91bb4666e27e7')">
                <img src="https://registry.npmmirror.com/amemei-github-io-npm-cdn/latest/files/ads/tamatoys.png" alt="tamatoys" />
            </div>
        </div>
        <div class="tbaru">
            <div onclick="window.open('https://www.rainyun.com/MTMwMjQy_')">
                <img src="https://registry.npmmirror.com/amemei-github-io-npm-cdn/latest/files/ads/云雨.png" alt="tamatoys" />
            </div>
        </div>
    </div>
</div>