<div class="ads bg-body">
    <div class="card text-bg-body mb-3 content-container layout-block article-list">
        <div class="tbaru">
            <div onclick="window.open('https://maomao.cloud/index.php#/register?code=1T7Izn2G')">
                <img src="https://img-r2.amemei-lists.top/amemei/ads/猫猫云.webp" alt="maomaoyun" />
            </div>
        </div>
        <div class="tbaru">
            <div
                onclick="window.open('https://dimtown.com/static/ajwjw')">
                <img src="https://img-r2.amemei-lists.top/amemei/ads/tamatoys.webp" alt="tamatoys" />
            </div>
        </div>
        <div class="tbaru">
            <div onclick="window.open('https://www.rainyun.com/MTMwMjQy_')">
                <img src="https://img-r2.amemei-lists.top/amemei/ads/云雨.webp" alt="tamatoys" />
            </div>
        </div>
    </div>
</div>