<div class="ads">
    <div class="card text-bg-light mb-3 content-container layout-block article-list">
        <div class="tbaru">
            <div onclick="window.open('https://5maomao.xyz/index.php#/register?code=gFL8yGu1')">
                <img src="https://npm.elemecdn.com/amemei-github-io-npm-cdn/ads/猫猫云.png" alt="maomaoyun" />
            </div>
        </div>
        <div class="tbaru">
            <div
                onclick="window.open('https://shop119340084.taobao.com/shop/view_shop.htm?spm=a230r.1.14.4.75dc14ecGDLY4r&user_number_id=1965847533&mm_sycmid=1_140464_290ace768641419ed13b13fbad8451d4')">
                <img src="https://npm.elemecdn.com/amemei-github-io-npm-cdn/ads/tamatoys.png" alt="tamatoys" />
            </div>
        </div>
        <div class="tbaru">
            <div onclick="window.open('https://www.rainyun.com/MTM3MTQ=_')">
                <img src="https://npm.elemecdn.com/amemei-github-io-npm-cdn/ads/云雨.png" alt="tamatoys" />
            </div>
        </div>
    </div>
</div>