<div class="ads bg-body">
    <div class="card text-bg-body mb-3 content-container layout-block article-list">
        <div class="tbaru">
            <div onclick="window.open('https://maomao789.com/index.php#/register?code=1T7Izn2G')">
                <img src="https://registry.npmmirror.com/amemei-github-io-npm-cdn/latest/files/ads/猫猫云.png" alt="maomaoyun" />
            </div>
        </div>
        <div class="tbaru">
            <div
                onclick="window.open('https://dimtown.com/static/ajwjw')">
                <img src="https://registry.npmmirror.com/amemei-github-io-npm-cdn/latest/files/ads/tamatoys.png" alt="tamatoys" />
            </div>
        </div>
        <div class="tbaru">
            <div onclick="window.open('https://www.rainyun.com/MTMwMjQy_')">
                <img src="https://registry.npmmirror.com/amemei-github-io-npm-cdn/latest/files/ads/云雨.png" alt="tamatoys" />
            </div>
        </div>
    </div>
</div>