<div class="announcement">
    <div class="card text-bg-light mb-3 content-container layout-block article-list">
        <div data-step="4" data-title="站点公告" data-intro="您可以在这里查看网站的最新公告" class="card-body">
            <div class="d-flex align-items-center">
                <div>
                    <h5 class="mb-0"><strong>站点公告</strong></h5>
                    <hr>
                </div>
            </div>
            <div class="fix-text fix-image">
                <h6>本网站是由Amemei为全球华人创建的二次元游戏交流网站，浏览时请遵守当地法律法规，祝您浏览愉快！<br>有些问题去看看“说点什么”板块可能会得到解答</h6>
                <br>
                <h6>为了维持小站的运营，某加了点广告，如果您认为这糊住了您的眼睛可以打开广告拦截插件<br>请注意，本站并不保证<strong>弹出广告</strong>内容的有效性，请注意甄别</h6>
                <br>
                <h6>好消息，MTool已支持注入网页上的游戏，妈妈再也不用担心打不过怪了<br>MTool下载：<a href="https://afdian.net/a/AdventCirno">工具作者爱发电（点击跳转到第三方网站）</a></h6>
            </div>
        </div>
    </div>
</div>