<div class="announcement">
    <div class="card text-bg-light mb-3 content-container layout-block article-list">
        <div data-step="4" data-title="網站公告" data-intro="您可以在這裏查看網站的最新公告" class="card-body">
            <div class="d-flex align-items-center">
                <div>
                    <h5 class="mb-0"><strong>網站公告</strong></h5>
                    <hr>
                </div>
            </div>
            <div class="fix-text fix-image">
                <h6>本網站是由Amemei為全球華人創建的二次元遊戲交流網站，流覽時請遵守當地法律法規，祝您流覽愉快！<br>有些問題去看看“說點什麼”板塊可能會得到解答</h6>
                <br>
                <h6>兄弟，你听过圣杯大战吗？12月8日-12月12日，我们将与A酱的绅士玩具屋开展神秘活动，尽情期待！更多细节请关注网站更新或者站长b站</h6>
                <br>
                <h6>因為不可抗力（叕被Github封了），部分遊戲暫時不可訪問</h6>
                <br>
                <h6>為了維持小站的運營，某加了點廣告，如果您認為這糊住了您的眼睛可以打開廣告攔截外掛程式<br>請注意，本站並不保證<strong>彈出廣告</strong>內容的有效性，請注意甄別</h6>
            </div>
        </div>
    </div>
</div>