@import '_variables/variables'
@import '_base/*'
@import '_components/*'
@import '_pages/pages'

a.tbaru{padding:40px 15px;font-size:14px;background-color:#666;display:block;text-decoration:none;color:#fff;font-weight:bold;text-align:center;}
a.tbaru:hover{border-color:#555;color:#fff;}
@media (max-width:640px){a.tbaru{font-size:12px;padding:25px 15px;}}

.moe-counter {
    text-align:center;
    padding: 10px;
    }