<section
  class="widget-ads widget-item layout-margin content-padding--primary soft-size--large soft-style--box"
>
  <div
    class="widget-body"
    style="
      display: flex;
      flex-direction: row-reverse;
      flex-wrap: nowrap;
      justify-content: center;
    "
  >
    <div
      onclick="window.open('https://shop119340084.taobao.com/shop/view_shop.htm?spm=a230r.1.14.4.75dc14ecGDLY4r&user_number_id=1965847533&mm_sycmid=1_140464_290ace768641419ed13b13fbad8451d4')"
    >
      <img
        src="https://wicapi.anjiurine.top/?img_url=https://registry.npmmirror.com/amemei-github-io-npm-cdn/latest/files/ads/tamatoys2.jpg"
        alt="tamatoys2"
        style="max-width: 200px"
      />
    </div>
  </div>
</section>
