<section
  class="widget-ads widget-item layout-margin content-padding--primary soft-size--large soft-style--box"
>
  <div
    class="widget-body"
    style="
      display: flex;
      flex-direction: row-reverse;
      flex-wrap: nowrap;
      justify-content: center;
    "
  >
    <div
      onclick="window.open('https://dimtown.com/static/ajwjw')"
    >
      <img
        src="https://img-r2.amemei-lists.top/amemei/ads/tamatoys2.webp"
        alt="tamatoys2"
        style="max-width: 200px"
      />
    </div>
  </div>
</section>
